html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    /*background-color: #fff;
    border-top: solid 10px #000;*/
    color: #333;
    font-size: .85em;
    line-height: 1.42857143;
    /*margin: 0;
    padding: 0;*/
}

/*a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }*/

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 500;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 30px
    
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 18px;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    height: 60px;
}

/* Table Layout */

table {
    border-collapse: collapse;
}

table thead {
    background: SteelBlue;
    color: white;
}

table th {
    text-align: left;
}

table th,
table td {
    padding: 5px 10px;
    border: 1px solid black;

}

table tbody tr:nth-child(even) {
    background: #cccccc;
}

table tbody tr td:nth-child(2) {
    text-align: center;
}

table tbody tr td:nth-child(3),
tabletbody tr td:nth-child(4) {
    text-align: right;
}

table tfoot {
    background: SeaGreen;
    color: white;
    text-align: right;
}

    table tfoot tr th:last-child {
        font-family: monospace;
    }

.clearTable td {
    border: none;
}

section#sectionBody {
    height: 600px;
    margin: auto;
    padding: 0 10px 10px 0;
}

div#leftMenu {
    min-width: 200px;
    padding: 10px 0 10px 5px;
    margin: auto;
    height: 85vh;
    float: left;
    border-right: solid 2px #787878;
    background-color: #cccccc;
}

div#divBody {
    margin-left: 30px;
    height: auto;
    width: auto;
    float: left;
}

.main-body {
    /*float: left;*/
    width: auto;
    padding-left: 10px;
}

header .content-wrapper {
    padding-top: 0;
    margin-top: 0;
}


/*footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}*/

.Logo {
    background: url("../Images/Logo.gif") no-repeat;
    display: block;
    width: 126px;
    height: 53px;
}



/* Left Menu 
 ---------------------------------------------------------*/
.accordion {
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    background: #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
}

    .accordion .menu-link {
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 42px;
        color: #4D4D4D;
        font-size: 14px;
        font-weight: 700;
        border-bottom: 1px solid #000;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .accordion li:last-child .menu-link {
        border-bottom: 0;
    }

    .accordion li i {
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 18px;
        color: #595959;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        .accordion li i.fa-chevron-down {
            right: 12px;
            left: auto;
            font-size: 16px;
        }

    .accordion li.open .menu-link {
        color: #b63b4d;
    }

    .accordion li.open i {
        color: #b63b4d;
    }

        .accordion li.open i.fa-chevron-down {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

/**
 * Submenu
 -----------------------------*/


.menu-submenu {
    display: none;
    background: #444359;
    font-size: 14px;
    list-style-type: none;
    padding: 0;
}

    .menu-submenu li {
        border-bottom: 1px solid #4b4a5e;
    }

    .menu-submenu a {
        display: block;
        text-decoration: none;
        color: #d9d9d9;
        padding: 12px;
        padding-left: 42px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

        .menu-submenu a:hover {
            background: #b63b4d;
            color: #FFF;
        }

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: 1.10em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        /*background-color: #d3dce0;*/
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
        color: #787878;
    }

        #login a.username {
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }



/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
    width: 150px;
    display: block;
    float: left;
    padding-top: 8px;
}

.error-lable {
    font-weight: 700;
    display: block;
    float: left;
    padding-top: 8px;
}

/* login page */
#loginForm {
    /*border-right: solid 2px #c8c8c8;
    float: left;*/
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: auto;
        }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    /*margin: 0;
    padding: 0;*/
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    font-weight: bold;
    width: 140px;
    display: block;
    float: left;
}

    label.checkbox {
        display: inline;
    }

labelField {
    display: inline;
    font-size: 1.2em;
    font-weight: 600;
    padding-right: 10px;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    /*padding: 5px;*/
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type=text] {
    border-color: #787878;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    box-shadow: 5px 5px 5px #888888;
    clear: both;
    padding: 10px 20px;
    background-color: #a0a51b;
}

.message-error {
    clear: both;
    background-color: #e80c4d;
    box-shadow: 5px 5px 5px #888888;
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 20px;
}

.message-success {
    clear: both;
    background-color: #2f9f09;
    box-shadow: 5px 5px 5px #888888;
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px 20px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/*#region info and errors */
.errorMessage {
    color: #e80c4d;
    padding-left: 5px;
}

.error {
    float: none;
    color: #e80c4d;
    padding-left: .5em;
    vertical-align: top;
}

.validation-summary-errors ul {
    padding: 0 !important;
    margin: 0 !important;
}

/*#endregion */




/* Tyepe List */
ol.BidTypes {
    list-style-type: none;
    padding-left: 0;
}

    ol.BidTypes li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.BidTypes li.BidType {
            background: url("../Images/bullet.png") no-repeat;
        }

/* Admin Links */
.AdminFunctions {
}

ol.AdminLinks li {
    list-style-type: none;
    padding-left: 0;
}

/*ol.AdminLinks li.AdminLink {
        background: url("../Images/bullet.png") no-repeat;
    }*/

ul {
    list-style-type: none;
}

li {
    padding-left: 0;
}

.price-error {
    box-shadow: 0 0 1px 3px #e74c3c;
}

.webGrid {
    margin: 4px;
    border-collapse: collapse;
    width: 600px;
    background-color: #FCFCFC;
}

.header {
    background-color: #C1D4E6;
    font-weight: bold;
    color: #FFF;
}

.webGrid th, .webGrid td {
    border: 1px solid #C0C0C0;
    padding: 5px;
}

.alt {
    background-color: #E4E9F5;
    color: #000;
}

.gridHead a:hover {
    text-decoration: underline;
}

.description {
    width: auto;
}

.select {
    background-color: #389DF5;
}

.divLabel {
    padding: 10px;
    width: auto;
    display: block;
    text-wrap: none;
}

    .divLabel label {
        width: 150px;
        padding-right: 10px;
    }

    .divLabel input[type=text] {
        max-width: 200px;
        border-color: #787878;
    }

    .divLabel textarea {
        border-color: #787878;
    }

.measurementLabel {
    width: 450px;
}

.measurementList label {
    width: 300px;
    padding-left: 10px;
}

.numberOnly {
    width: 70px;
}

.Currency {
    width: 100px;
}

.divPartial {
    display: block;
    height: 40px;
    width: auto;
}

.AddNewLink {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.addLength {
    width: 200px;
    padding: 10px;
}

.divLabelOnly {
    padding: 10px;
}

.divDropDown {
    padding: 10px 0 10px 0;
    width: auto;
}

.divAddButton {
    padding: 10px;
    width: 10px;
    display: block;
    text-wrap: none;
    font-weight: 700;
    float: left;
}

a.addImage, a.addImage:visited {
    background: url("../Images/blueAdd.png") no-repeat;
    display: block;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    cursor: pointer;
}

.addImage {
    background: url("../Images/blueAdd.png") no-repeat;
    display: block;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    cursor: pointer;
}

/* Column Spacing */
.measurementList {
    padding: 10px;
    width: 1000px;
}

.labelColumns {
    width: 200px;
    height: 30px;
    font-weight: bold;
    display: block;
    float: left;
}

.ColumnSpacing {
    width: 700px;
    height: auto;
    float: left;
}

.measurementListColumn {
    width: 250px;
    height: 30px;
    float: left;
}

    .measurementListColumn img {
        float: right;
        margin-top: 5px;
        border: 0;
        border-style:none;
    }

.measurementListColumnAdded {
    width: 180px;
    height: 30px;
    float: left;
}

.measure-icon {
    width: 20px;
    height: 20px;
}

#ColumnLengh {
    height: auto;
}

#ColumnWidth {
    float: left;
    height: auto;
}

.hide {
    display: none;
}

.button-list {
    margin: 10px;
}


/* Type Table Layout */
.caption {
    text-align: left;
    color: #4d4d4d;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

.typeTable {
    border-collapse: collapse;
}

.typeTable thead {
    background: SteelBlue;
    color: white;
}

.typeTable th {
    text-align: left;
}

.typeTable th,
.typeTable td {
    padding: 5px 10px;
    border: 1px solid black;

}

.typeTable tbody tr:nth-child(even) {
    background: #cccccc;
}

.typeTable tbody tr td:nth-child(2) {
    text-align: center;
}

.typeTable tbody tr td:nth-child(3),
.typeTable tbody tr td:nth-child(4) {
    text-align: right;
}

.typeTable tfoot {
    background: SeaGreen;
    color: white;
    text-align: right;
}

    .typeTable tfoot tr th:last-child {
        font-family: monospace;
    }

.maintenance-type {
    margin-bottom: 30px;
}

/* Modal Styles */
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.modal-footer:after {
  clear: both;
}
.glyphicon-modal-window:before {
  content: "\e237";
}

/*  Tooltip  */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}


