@model LaneBids.Models.Admin.TypeDataCodeModel

<div class="divLabel">
    <label>ID:</label>
    <div>@Model.ID</div>
</div>

<div class="divLabel">
    <label>Name:</label>
    <div>@Model.Name</div>
</div>

<div class="divLabel">
    <label>Code:</label>
    <div>@Model.Code</div>
</div>
