@model LaneBids.Models.ContactDetailsModel

<div class="divPartial">
    <div class="label divLabelOnly"><label>Customer:</label></div>
    <div class="label divDropDown">
        @Html.ValidationSummary(true)
        @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList)
    </div>
    <div class="label divAddButton">
        <a href="#" id="AddCustomerLink" class="addImage" ng-click="showAddCustomer()"></a>
    </div>
    <div class="error-lable">
        @Html.ValidationMessageFor(v => v.CustomerId, null, new { @class = "errorMessage" })
    </div>
</div>

<div id="divAddCustomer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="typeDataModalLabel" aria-hidden="true">
    <div id="#customerModal" class="modal-dialog" role="document" ng-model="customer">
        <div class=" modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="typeDataModalLabel">Add Customer</h4>
            </div>

            <div class="modal-body">
                <form novalidate>
                    <div class="divLabel">
                        <label>First Name</label>
                        <input type="text" id="custFirstName" ng-model="customer.FirstName" />
                    </div>
                    <div class="divLabel">
                        <label>Last Name</label>
                        <input type="text" id="custLastName" ng-model="customer.LastName" />
                    </div>
                    <div class="divLabel">
                        <label>Email</label>
                        <input type="text" id="custEmail" ng-model="customer.Email" />
                    </div>
                    <div class="divLabel">
                        <label>Company Name</label>
                        <input type="text" id="custCompanyName" ng-model="customer.CompanyName" />
                    </div>
                    <div class="divLabel">
                        <label>Address Line 1</label>
                        <input type="text" id="custAddressLine1" ng-model="customer.AddressLine1" />
                    </div>
                    <div class="divLabel">
                        <label>Address Line 2</label>
                        <input type="text" id="custAddressLine2" ng-model="customer.AddressLine2" />
                    </div>
                    <div class="divLabel">
                        <label>City</label>
                        <input type="text" id="custCity" ng-model="customer.City" />
                    </div>
                    <div class="divLabel">
                        <label>State</label>
                        <select id="stateId" ng-model="customer.State" ng-options="state.Value as state.Text for state in stateList"></select>
                    </div>
                    <div class="divLabel">
                        <label>Zip</label>
                        <input type="text" id="custZip" ng-model="customer.Zip" />
                    </div>
                    <div class="divLabel">
                        <select id="contactId" ng-model="customer.ContactId" ng-options="contact.Id as contact.Name for contact in contacts"></select>
                        <input type="text" id="custZip" ng-model="customer.PhoneNumber" />
                    </div>
                </form>
            </div>

            <div class="modal-footer button-list">
                <button type="button" ng-click="addCustomer(customer)">Add</button>&nbsp;&nbsp;
                <button type="button" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--<script>
    //$(document).ready(function () {
    //    angular.element("#customerModal").scope.getContactList();

    //    var newOption = "<option value='None' selected > -- Select Customer --</option>";
    //    $("#contactId").append(newOption);
    //});

    //$("#AddCustomerLink").on("click", function () {
    //    $("#divAddCustomer").modal("show");
    //});

    //$("#SubmitCustomer").on("click", function () {
    //    $.ajax({
    //        url: "/Home/CustomerAdd",
    //        type: "POST",
    //        dataType: "text",
    //        data: {
    //            FirstName: $("#CustomerFirstName").val(),
    //            LastName: $("#CustomerLastName").val(),
    //            Email: $("#CustomerEmail").val(),
    //            CompanyName: $("#CustomerCompany").val(),
    //            AddressLine1: $("#CustomerAddress1").val(),
    //            AddressLine2: $("#CustomerAddress2").val(),
    //            City: $("#CustomerCity").val(),
    //            State: $("#CustomerState").val(),
    //            Zip: $("#CustomerZip").val(),
    //            PhoneNumber: $("#CustomerContact").val(),
    //            ContactId: $("#CustomerContactType").val()
    //        }
    //    }).success(function (response) {
    //        //alert("Added Customer: " + response);
    //        var value = response.split('|');
    //        var newOption = "<option value='" + value[0] + "' selected >" + value[1] + "</option>";
    //        $("#CustomerId").append(newOption);
    //        $("#divAddCustomer").dialog("close");
    //    }).error(function (xhr, textStatus, errorThrown) {
    //        alert("Failure to add customer (Response: " + xhr.responseText + " | Status: " + textStatus + " | ErrorMessage: " + errorThrown + ")");
    //    });

    //});
</script>-->
