@model LaneBids.Models.ColorModel

<div class="divPartial">
    <div class="label divLabelOnly"><label>Facia Color:</label></div>
    <div class="label divDropDown">
        @Html.ValidationSummary(true)
        @Html.DropDownListFor(model => model.ColorId, Model.FasciaColorList)
    </div>
    <div class="label divAddButton"><span id="AddFaciaColorLink" class="addImage"></span></div>
</div>

<div id="divAddColor" style="display: none" title="Add Color">
    <div class="divLabel">
        <label>Color Name</label>
        @Html.TextBoxFor(m => m.ColorName, new { @id = "FaciaColorName"})
    </div>

    <div class="divLabel">
        <label>Color</label>
        @Html.TextBoxFor(m => m.ColorText, new { @id = "FaciaColorText" })
    </div>
    <input type="button" id="SubmitColor" name="SubmitColor" value="Submit" />
</div>

<script>
    $(document).ready(function() {
        var newOption = "<option value='None' selected > -- Select Color --</option>";
        $("#ColorId").append(newOption);
    });

    $("#AddFaciaColorLink").on("click", function () {
        $("#divAddColor").dialog({
            width: 300,
            height: 300
        });
    });

    $("#SubmitColor").on("click", function () {
        $.ajax({
            url: "/Home/ColorAdd",
            type: "POST",
            dataType: "text",
            data: {
                ColorName: $("#colorName").val(),
                ColorText: $("#colorText").val()
            }
        }).success(function (response) {
            //alert("Added Customer: " + response);
            var value = response.split('|');
            var newOption = "<option value='" + value[0] +"' selected >" + value[1] + "</option>";
            $("#ColorId").append(newOption);
            $("#divAddColor").dialog("close");
        }).error(function (xhr, textStatus, errorThrown) {
            alert("Failure to add color (Response: " + xhr.responseText + " | Status: " + textStatus + " | ErrorMessage: " + errorThrown + ")");
        });

    });
</script>