--Insert into Lane.dbo.Bid_Statuses
--select [Status], Created_By, Create_Date from [Lane_Backup].dbo.Bid_Statuses
Select * from Lane.dbo.Bid_Statuses

--Insert into Lane.dbo.Bid_Types
--select Name, Code, Created_By, Create_Date from [Lane_Backup].dbo.Bid_Types
Select * from Lane.dbo.Bid_Types

--Insert into Lane.dbo.Column_Types
--select Name, Created_By, Create_Date from [Lane_Backup].dbo.Column_Types
Select * from Lane.dbo.Column_Types

--Insert into Lane.dbo.Contact_Types
--select Name, Created_By, Create_Date from [Lane_Backup].dbo.Contact_Types
Select * from Lane.dbo.Contact_Types

--Insert into Lane.dbo.Deck_Styles
--select Name, Created_By, Create_Date from [Lane_Backup].dbo.Deck_Styles
Select * from Lane.dbo.Deck_Styles

--Insert into Lane.dbo.Deck_Styles
--select Name, Created_By, Create_Date from [Lane_Backup].dbo.Deck_Types
--Select * from Lane.dbo.Deck_Types

--Insert into Lane.dbo.Drainage_Types
--select Name, Created_By, Create_Date from [Lane_Backup].dbo.Drainage_Types
Select * from Lane.dbo.Drainage_Types

--Insert into Lane.dbo.Fascia_Types
--select Name, Created_By, Create_Date from [Lane_Backup].dbo.Fascia_Types
Select * from Lane.dbo.Fascia_Types

--Insert into Lane.dbo.Job_Types
--select Name, Code, Created_By, Create_Date from [Lane_Backup].dbo.Job_Types
Select * from Lane.dbo.Job_Types

--Insert into Lane.dbo.Scope_Types
--select Name, Code, Created_By, Create_Date from [Lane_Backup].dbo.Scope_Types
Select * from Lane.dbo.Scope_Types

--Insert into Lane.dbo.Structure_Types
--select Name, Created_By, Create_Date from [Lane_Backup].dbo.Structure_Types
Select * from Lane.dbo.Structure_Types

--Insert into Lane.dbo.Colors
--select Name, Created_By, Create_Date from [Lane_Backup].dbo.Colors
Select * from Lane.dbo.Colors

