@{
    var deckStylesId = (string)ViewData["DeckStylesId"];
    var name = (string)ViewData["Name"];

}

@using (Html.BeginForm("DeckStyles", "Admin", FormMethod.Post, new { @id = "DeckStylesForm", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <input type="hidden" id="Deck_Style_ID" name="Deck_Style_ID" value="@deckStylesId" />
        <div class="divLabel">
            <label>ID</label>
            @deckStylesId
        </div>

        <div class="divLabel">
            <label>Name</label>
            @Html.TextBox("Name", name)
        </div>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}