@model LaneBids.Models.Admin.TypeDataModel

<div>
    <div>
        @Html.EditorFor(m => Model)

        <div class="button-list">
            <input type="button" ng-click="updateDataType" value="Update" />&nbsp;&nbsp;
            <input type="button" ng-click="deleteDataType" value="Cancel" />
        </div>
    </div>
</div>
