
@{
    ViewBag.Title = "AddCompany";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Company</h2>

<table>
    <caption>Companies</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="company in Companies">
        <td>{{company.Name}}</td>
        <td>
            <a href="#" ng-click="editCompany({{company}})">Edit</a>
        </td>
        <td>
            <a href="#" ng-click="deleteCompany({{company}})">Delete</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">
            <a href="#" ng-click="addCompany()">Add Company</a>
        </td>
    </tr>
    </tfoot>
</table>


