@model LaneBids.Models.SalesPersonDetailsModel
@{
    ViewBag.Title = "Add Sales Person";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Sales Person</h2>

<div class="message-info"></div>

<div id="#salesPersonModal" class="modal-dialog" role="document" ng-model="salesPerson">

    <div class="modal-body">
        <form novalidate>
            <div class="divLabel" ng-show="salesPerson.Code.length">
                <label>Code</label>
                <input type="text" id="salesCode" ng-model="salesPerson.Code" />
            </div>
            <div class="divLabel">
                <label>First Name</label>
                <input type="text" id="salesFirstName" ng-model="salesPerson.FirstName"/>
            </div>
            <div class="divLabel">
                <label>Last Name</label>
                <input type="text" id="salesLastName" ng-model="salesPerson.LastName"/>
            </div>
            <div class="divLabel">
                <label>Email</label>
                <input type="text" id="salesEmail" ng-model="salesPerson.Email"/>
            </div>
            <div class="divLabel">
                <label>Company Name</label>
                <input type="text" id="salesCompanyName" ng-model="salesPerson.CompanyName"/>
            </div>
            <div class="divLabel">
                <label>Address Line 1</label>
                <input type="text" id="salesAddressLine1" ng-model="salesPerson.AddressLine1"/>
            </div>
            <div class="divLabel">
                <label>Address Line 2</label>
                <input type="text" id="salesAddressLine2" ng-model="salesPerson.AddressLine2"/>
            </div>
            <div class="divLabel">
                <label>City</label>
                <input type="text" id="salesCity" ng-model="salesPerson.City"/>
            </div>
            <div class="divLabel">
                <label>State</label>
                <select id="stateId" ng-model="salesPerson.State" ng-options="state.Value as state.Text for state in stateList"></select>
            </div>
            <div class="divLabel">
                <label>Zip</label>
                <input type="text" id="salesZip" ng-model="salesPerson.Zip"/>
            </div>
            <div class="divLabel">
                <table>
                    <tr ng-repeat="contact in salesPerson.PhoneContacts">
                        <td>
                            <select id="contactId" ng-model="salesPerson.ContactId" ng-options="contact.Id as contact.Name for contact in contacts"></select>
                        </td>
                        <td>
                            <input type="text" id="salesNumber" ng-model="salesPerson.PhoneNumber"/>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

    <div class="modal-footer button-list">
        <button type="button" ng-click="addSalesPerson(salesPerson)">Add</button>&nbsp;&nbsp;
        <button type="button" ng-click="Cancel()" >Cancel</button>
    </div>
</div>

