
@{
    ViewBag.Title = "AddCompany";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Company</h2>
<br/>
<div ng-controller="CompanyController">
    <div class="message-info hide"></div>
    <div class="message-error" ng-show="error">{{error}}</div>
    <br/>
    <button href="#" class="margin-bottom-10" ng-click="addCompany()">Add Company</button>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="company in companyList">
                <td>{{company.Name}}</td>
                <td>
                    <a href="#" ng-click="editCompany({{company}}, $index)">Edit</a>
                </td>
                <td>
                    <a href="#" confirm="Are you sure you want to delete {{company.Name}}" ng-click="deleteCompany({{company}}, $index)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Add Company -->
    <div id="companyModal" class="modal fade" tabindex="-1" role="dialog" ng-model="company" aria-labelledby="addCompanyLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addCompanyLabel">Add Company</h4>
                </div>

                <div class="modal-body">
                    <form novalidate>
                        <div class="divLabel">
                            <label>Company Name</label>
                            <input type="text" ng-model="company.Name" />
                        </div>
                    </form>
                </div>

                <div class="modal-footer button-list">
                    <button type="button" ng-click="createUpdateCompany(company)">Add / Update</button>&nbsp;&nbsp;
                    <button type="button" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/Admin")
}
