@model LaneBids.Models.AdminMaintenance
@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Maintenance Page</h2>
<br/>
<div ng-controller="MaintController">
    <!-- Structure Type Grid -->

    <div class="caption">Structure Type</div>

    <table class="typeTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Create Date</th>
                <th>Created By</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="type in getTypeData">
                <td>{{type.Name}}</td>
                <td>{{type.Create_Date}}</td>
                <td>{{type.FullName}}</td>
                <td>
                    <a href="#" ng-click="editTypeData(type)">Edit</a>
                </td>
                <td>
                    <a href="#" ng-click="deleteTypeData(type)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="myModalTypeContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Update Type Data</h3>
        </div>
        @using (Html.BeginForm("TypeDataUpdate", "Admin"))
        {
            <div class="modal-body">
                <input type="hidden" id="TypeDataEnum" value="{{ TypeDataEnum }}" />
                <input type="hidden" id="ID" value="{{ ID }}" />
                <div class="divLabel">
                    <label>ID:</label>
                    <div>{{ ID }}</div>
                </div>

                <div class="divLabel">
                    <label>Name:</label>
                    <input type="text" id="Name" value="{{ Name }}" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Update</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        }
    </script>
</div>

@section Scripts {
    
    @Scripts.Render("~/bundles/Admin")
}

