@model LaneBids.Models.AdminMaintenance
@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Maintenance Page</h2>
<br/>
<div ng-controller="MaintController">
    <!-- Structure Type Grid -->
    

    <div ng-repeat="gridModel in AllTypeData.AllTypes" class="maintenance-type">
        <div class="caption">{{gridModel.Title}}</div>

        <table class="typeTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th ng-show="gridModel.HasCode">Code</th>
                    <th>Create Date</th>
                    <th>Created By</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="DataType in gridModel.DataTypes">
                    <td>{{DataType.Name}}</td>
                    <td ng-show="gridModel.HasCode">{{DataType.Code}}</td>
                    <td>{{DataType.Create_Date}}</td>
                    <td>{{DataType.FullName}}</td>
                    <td>
                        <a href="#" ng-click="editTypeData(DataType)">Edit</a>
                    </td>
                    <td>
                        <a href="#" ng-click="deleteTypeData(DataType)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

        <!-- Modal -->
    <div id="typeDataModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="typeDataModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" ng-controller="MaintController">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="typeDataModalLabel">Edit Data</h4>
                </div>

                <div class="modal-body">
                    <form novalidate>
                        <input type="hidden" id="TypeDataEnum" ng-model="typeData.TypeDataEnum" value="{{ typeData.TypeDataEnum }}" />
                        <input type="hidden" id="ID" ng-model="typeData.ID" value="{{ typeData.ID }}" />

                        <div class="divLabel">
                            <label>ID:</label>
                            <div>{{ typeData.ID }}</div>
                        </div>

                        <div class="divLabel">
                            <label>Name:</label>
                            <input type="text" id="Name" ng-model="typeData.Name" value="{{ typeData.Name }}" />
                        </div>
                    </form>
                </div>

                <div class="modal-footer button-list">
                    <button type="button" ng-click="updateTypeData(typeData)">Update</button>&nbsp;&nbsp;
                    <button type="button" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
    @Scripts.Render("~/bundles/Admin")
}

