@model LaneBids.Models.AdminMaintenance
@using System.Activities.Expressions
@using System.Data
@using System.Web.UI.WebControls
@using LaneBids.Models
@{
    ViewBag.Title = "Maintenance";
    
}

<h2>Maintenance Page</h2>

<div ng-controller="MaintenanceController">
    <div id="structureType" ui-grid="{ data: structureData }" class="grid"></div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/mantenance-js")
}

<div id="divTypeDataModal"></div>
