@model LaneBids.Models.AdminMaintenance
@using System.Activities.Expressions
@using System.Data
@using System.Web.UI.WebControls
@using LaneBids.Models
@{
    ViewBag.Title = "Maintenance";
    
}

<h2>Maintenance Page</h2>

<div ng-controller="MaintController">
    <div id="structureType" ui-grid="{ data: getTypeData }" class="typeGrid"></div>
</div>

@section Scripts
{
    
}

<div id="divTypeDataModal"></div>
