@model LaneBids.Models.Admin.StructureTypeModel
           
<div>
    @Html.LabelFor(m => m.ID):
    @Html.DisplayFor(m => m.ID)
</div>

<div>
    @Html.LabelFor(m => m.Name):
    @Html.TextBoxFor(m => m.Name)
</div>
